<div class="restaurant_review">
  <div class="restaurant_review_name">
    <%= @restaurant.name %>
  </div>
  <div class="restaurant_review_image">
    <%= image_tag @restaurant.image_url if @restaurant.image? %>
  </div>
</div>
