<p>Search employees</p>
<div id="instant_search">
	<form method="get" action="">
		<input type="text" id="q" name="q" />
	</form>
</div>
<div id="instant_search_results"></div>
<div id="group_members"></div>
