<p>Search employees</p>
<div id="instant_search">
	<form method="get" action="">
		<input type="text" id="q" name="q" placeholder="Enter search keyword"/>
	</form>
<div id="instant_search_results">
</div>
</div>
