<%= javascript_include_tag url_for({:controller => :groups, :action => :show_js, :id => params[:id]}) %>
<div id="groupname">
	<%= @group.name %>
</div><!-- groupname -->
<input id="input" type="text" />
<input id="submit_post" type="button" value="Submit" onclick="submit_post();"/>
<div id="msg"></div>
	<%#
	  ### When :collection is passed array object, partial file takes each element of array and sets it to local variable with the name of partial file.
	  ### In this case, partial file "_post.html.erb" creates variable "post" with each element of "@posts". Then it renders partial page with each "page".
	%>
<ul id="posts" >
	<%= render :partial => "/posts/each_post", :collection => @posts %>
</ul>
