<%= javascript_include_tag "raty.js" %>
<input id="search_box_lunch" type"text">
<button onclick="search_restaurant()">Find Restauarant</button>
<div align="center">
    <%= image_tag "ajax-loader.gif", :id => "spinner", :style => "display:none" %>
</div>
<div id="restaurant_info">
    <%= render :partial => "/restaurants/each_restaurant", :collection => @restaurants %>
</div>

