#mainWrap { width:500px;
			float:right;
			text-align:left;
}

#sideWrap { width:250px;
			float:left;
			background-color:#E5E5E5;
			text-align:left;
}

/* style for instant search */
#instant_search form input[type=submit]{
    display:none;
}
.instant_search_result {
    color: blue;
    font-weight: bold;
}

#group {
	margin: 0 0 20px 20px;
}

#groupname {
	font-size: 20px;
	font-weight: bold;
}

#new_post {
	margin: 0 0 20px 0;
}

#display_image {
	margin: 0 0 20px 0;
}

#submit_post_button {
	text-align:right;
}

#submit_post {
	background-color:#33CC00;
	font-weight: bold;
}

#profile {
	margin: 0 0 20px 20px;
}
#photo {
}

ul#posts {
	margin: 0 0 0 0;
	padding: 0;
	list-style-type: none;
}

li.post_header {
	margin: 0 0 10px 0;
}

.post_header_image {
	margin: 0 5px 0 0;
}

.post_header_senderinfo {
	font-weight: bold;
	font-size: 10px;
}

li.post {
	margin: 0 0 10px 0;
	font-size: 20px;
	border-top: 1px solid #D2D9E7;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D2D9E7;
}

.post_image {
	margin: 20px 0 0 0;
}
