#mainWrap { width:500px;
			float:right;
			text-align:left;
}

#sideWrap { width:250px;
			float:left;
			background-color:#E5E5E5;
			text-align:left;
}

/* style for instant search */
#instant_search form input[type=submit]{
    display:none;
}
.instant_search_result {
    color: blue;
    font-weight: bold;
}
