#mainWrap { 
	width:500px;
	float:right;
	text-align:left;
}

#sideWrap { 
	width:250px;
	float:left;
	text-align:left;
	border: 1px solid #D2D9E7;
	border-width: 1px;
	border-style: solid;
	border-color: #D2D9E7;
}

#add_group_button {
	margin: 0 0 10px 0;
	position: relative;
}

#add_group_button_link {
	position: absolute;
	top: -2px; 
	left: 30px;
}

#add_group_button_link a {
	text-decoration: none;
	color: #000000;
}

.image_group {
	position: relative;
}

.group_name_inside_image {
	position: absolute;
	top: 8px; 
	left: 10px;
	width: 100px;
}

.chattergroup_name_inside_image {
	position: absolute;
	top: 30px; 
	left: 10px;
	width: 100px;
}

.image_chattergroup {
	position: relative;
}

.unread_messages_oval {
	position: absolute;
	top: 20px; 
	left: 87px;
}

.unread_messages {
	position: absolute;
	top: 20px; 
	left: 92px;
	width: 100px;
	color: #FFFFFF;
}

.group_name_inside_image a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

.chattergroup_name_inside_image a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

#group {
	margin: 0 0 20px 20px;
}

#groupname {
	font-size: 20px;
	font-weight: bold;
}

#new_post {
	margin: 0 0 20px 0;
}

#new_post textarea {
	border: 1px solid #D2D9E7;
	border-width: 1px;
	border-style: solid;
	border-color: #D2D9E7;	
}

#display_image {
	margin: 0 0 20px 0;
}

#submit_post_button {
	text-align:right;
}

#loader {
	text-align:center;
}

#profile {
	margin: 0 0 20px 20px;
}

#photo {
}

ul#posts {
	margin: 0 0 0 0;
	padding: 0;
	list-style-type: none;
}

li.post_header {
	margin: 0 0 10px 0;
	float:left;
}

.delete_post {
	float:right;
}

.post_header_image {
	margin: 0 5px 0 0;
}

.post_header_senderinfo {
	font-weight: bold;
	font-size: 10px;
}

li.post {
	margin: 0 0 10px 0;
	font-size: 20px;
	border-top: 1px solid #D2D9E7;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D2D9E7;
}

.post_image {
	margin: 20px 0 0 0;
}




