#inner { margin:0 10px; background-color:#FFFFDD;}
#mainWrap { width:500px; float:right; background-color:#E5E5E5; text-align:left;}
#sideWrap { width:250px; float:left; background-color:#AAE0DD; text-align:left;}