#display_action_template {
}

#instant_search form input[type=submit]{
    display:none;
}

.instant_search_result {
    color: blue;
}

#create_group {
	text-align: right;
}

#create_group_button {
	background-color:#33CC00;
	font-weight: bold;	
}

#search_employee {
    width:250px;
    float: left;
}

#group_members {
	float: left;
}

.group_member {
}

#instant_search_results {
    text-align:left;
    width:300px;
    height:400px;
}

.eachresult {
	margin:10px 0 10px 0;
}

.resulticon {
	margin:0 0 0 0;
}

.resultname {
	margin:0 0 0 10px;
}

.group_member {
	margin:10px 0 10px 0;	
}

.membericon {
	margin:0 0 0 0;
}

.membername {
	margin:0 0 0 10px;
}
