
#profile_basic {
	margin: 0 0 0 20px;
}

.profile_basic_field {
	margin: 5px 0 5px 0;
}

.profile_field_description {
	margin: 5px 0 5px 0;
	font-weight: bold;
}

.profile_value {
}
.profile_basic_field {
	margin: 0 100px 0 0;	
}

#profile_menu{
	font-size: 20px;
	font-weight: bold;
	margin: 0;  
	padding: 0;  
	width: ***;  
	height: 40px;  
}  
  
#profile_menu ul{  
	list-style-type: none;  
	margin: 0;  
	padding: 0;  
}  
  
#profile_menu li{
	float:left;  
	width: 100px;  
	margin: 0;  
	padding: 0;  
}

