#mainWrap_lunch { 
	width:510px;
	float:right;
	text-align:left;
}

#sideWrap_lunch { 
	width:254px;
	float:left;
	text-align:left;
	overflow: hidden;
}

#map {
       height: 550px;
}

#maincContent_lunch {
       margin: 20px 0 0 0;
}

#search_result_lunch_imagelist {
       list-style:none;
}

.each_restaurant {
	margin: 0 0 10px 0;
	background:#FFFFFF;
	font-size: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D2D9E7;
}
.each_restaurant_info{
	margin: 5px 0 10px 0;
}

.each_restaurant_review_image {
	margin: 0 1px 5px 1px;
}


.each_restaurant_review_image img {
	border: 2px solid #FFFFFF;
}

.each_restaurant_review_area {
	font-size: 5px;
}

.clear {
    clear:both;
}

#animation_test {
	width:300px;
}
