#mainWrap_lunch { 
	width:510px;
	float:right;
	text-align:left;
}

#sideWrap_lunch { 
	width:254px;
	float:left;
	text-align:left;
	overflow: hidden;
}

#topWrap_lunch {
	width:780px;
	height: 70px;
}


#topWrap_lunch_search_area {
	position: relative;
}

#search_box_lunch {
	position: absolute;
	top: 0;
	left: 260px;
	width: 260px;
	height: 25px;
	font-size: 20px;
}

#search_box_lunch_search_button {
	position: absolute;
	top: 0;
	left: 530px;
}

#topWrap_lunch_sort_items_form {
	position: absolute;
	top: 40px;
}

#map {
       height: 550px;
}

#maincContent_lunch {
       margin: 20px 0 0 0;
}

#search_result_lunch_imagelist {
       list-style:none;
}

.each_restaurant {
	margin: 0 0 10px 0;
	background:#FFFFFF;
	font-size: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D2D9E7;
}
.each_restaurant_info{
	margin: 5px 5px 10px 5px;
}

.each_restaurant_review_image {
	margin: 0 3px 5px 3px;
}


.each_restaurant_review_image img {
	border: 2px solid #FFFFFF;
}

.each_restaurant_review_area {
	font-size: 5px;
}

.each_restaurant_review_header {
	margin: 0 5px 0 5px;
}

.each_restaurant_review_header {
	margin: 0 5px 0 5px;
}

.clear {
    clear:both;
}

#animation_test {
	width:300px;
}

#spinner {
	margin: 100px 5px 100px 5px;
}
