<!DOCTYPE html>
<html>
	<head>
	  <title>Blanco</title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrap">
			<div id="header" style="background-color : #2676AE">
			<h1>Blanco</h1>
			</div><!-- /header -->
		</div><!-- /wrap -->
	</body>
</html>
