<!DOCTYPE html>
<html>
	<head>
	  <title>Blanco</title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<div id="container">
			<div id="header">
			<h1>Blanco</h1>
			</div><!-- /header -->
			<%= content_for?(:content) ? yield(:content) : yield %>
		</div><!-- /container -->
	</body>
</html>
